@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<div class="jumbotron text-center">
  <h2>Add a new treat</h2>
</div>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, new { @required="required" })
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Traets", "Index")</p>