@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<div class="jumbotron text-center">
  <h2>Edit</h2>
</div>

<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select form")
  @Html.DropDownList("FormId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>