@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Treat>;

<div class="row">
  <div class="jumbotron text-center">
    <h2>Pierre's Treats</h2>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src='img/logo.png' width="100px"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" @Html.ActionLink("Home","Index","Home")>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"@Html.ActionLink("Flavors","Index","Flavors")>Flavors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"@Html.ActionLink("Treats","Index","Treats")>Treats</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn btn-outline-primary">@Html.ActionLink("Log In", "Login", "Account")</button>
        <button class="btn btn-outline-primary">@Html.ActionLink( "Create an account", "Register", "Account" )</button>
      </span>
    </div>
  </div>
      <div>
        @using (Html.BeginForm("Index", "Treats", FormMethod.Get))
        {
          <div class="d-flex" role="search">
            @Html.TextBox("SearchString", null, new { type="search", placeholder = "Search", @class="form-control me-2"})
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        }
      </div>
    </div>
  </div>
<hr />
</nav>
<div class="row">
  <div class="card" id=treatCard>
      <div class="card-body">
          @if (User.Identity.IsAuthenticated)
              {
                <h2>Treats for @User.Identity.Name</h2>
              }
              else
              {
                <h2>Here are some of out Treats!</h2>
              }
              @if (Model.Any())
              {
                <ul>
                  @foreach (Treat treat in Model)
                  {
                    <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
                  }
                </ul>
              } 
            <button class="btn btn-primary">@Html.ActionLink("Add a treat", "Create", "Treats")</button>
        </div>
      </div>
  </div>
</div>
