@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model LoginViewModel

<div class="row">
  <div class="jumbotron text-center">
    <h2>Welcome to Pierre's Treats!</h2>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src='../img/logo.png' width="100px"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" @Html.ActionLink("Home","Index","Home")>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"@Html.ActionLink("Flavors","Index","Flavors")>Flavors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"@Html.ActionLink("Treats","Index","Treats")>Treats</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn btn-outline-primary">@Html.ActionLink("Create an account", "Register", "Account")</button>
      </span>
    </div>
  </div>
</nav>

<div class="row">
  <div class="card bg-dark text-white" id="registerCard">
    <img class="card-img" src='../img/wheat.jpg' alt=car image">
      <div class="card-img-overlay">
        <h3 class="card-title">Log in</h3>
          <div class="card-text">
            @if (User.Identity.IsAuthenticated)
                {
                  <p>Hello @User.Identity.Name!</p>

                  @using (Html.BeginForm("LogOff", "Account"))
                    {
                      <input type="submit" class="btn btn-outline-primary" value="Log out" />
                    }
                }
              else
              {
            @using (Html.BeginForm())
              {
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                <br>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                <br>
                <input type="submit" value="Log in" class="btn btn-primary" />
              }
            }
          </div>
      </div>
  </div>
</div>
