@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model LoginViewModel

<h3>Log in with you account</h3>
<hr />

 @if (User.Identity.IsAuthenticated)
    {
      <p>Hello @User.Identity.Name!</p>
    }
  else
  {
@using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
  }
}
<br>

<button class="btn btn-outline-primary">@Html.ActionLink("Home", "Index", "Home")</button>