@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor;

<div class="jumbotron text-center">
  <h2>Flavor Details</h2>
</div>

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor does not contain any treats

  </p>
}
else
{
  <h4>Flavor of Treats:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })</li>
  }
  </ul>
}

<p>@Html.ActionLink("Add new treat", "Create", "Treats")</p>
<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>